node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
env.js
.firebaserc
database.rules.json
firebase.json
firestore.indexes/json
firestore.rules
storage.rules

# macOS
.DS_Store
